# App Config
APP_PORT=8080

# Database Config
DATASOURCE_URL=mindebase_mysql
DATABASE_NAME=food
DATABASE_PORT=3306
DATABASE_USERNAME=admin
DATABASE_PASSWORD=123456789

# Redis Config
REDIS_HOST=mindebase_redis
REDIS_PORT=6379